.Itemcart {
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
  margin-bottom: 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.Itemcart h1 {
  font-size: 37px;
  color: #303030;
}

img.cart-item-image {
  width: 70px;
  height: 70px;
}

.itemtable {
  width: 100%;
}

th {
  color: gray;
  padding: 10px;
}

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 12px;
}

.product {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 15px;
}

.total-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;
}

.sumtext {
  color: gray;
  font-size: 10px;
}

section.center {
  min-height: 64vh;
  display: flex;
  justify-content: center;
}

.CartTotal div img {
  height: 30px;
}

.CartTotal {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: flex-end;
  bottom: 0px;
  box-shadow: 0px 0px 20px 1px #00000044;
  background-color: white;
  gap: 10px;
}

span#totalCartValue {
  font-size: 26px;
}

.CartTotal p {
  font-size: 13px;
  color: #696969;
}

.buybtn {
  all: unset;
  text-align: center;
  width: 155px;
  height: 54px;
  background-color: #c9c9a6;
  border: solid 2px #c9c9a6;
  color: white;
  border-radius: 3px;
}

.deletebtn {
  all: unset;
  background-color: white;
  border: solid 2px #c9c9a6;
  text-align: center;
  width: 155px;
  height: 54px;
  color: #c9c9a6;
  border-radius: 3px;
}

.deletebtn:hover {
  background-color: rgb(251, 43, 43);
  border: solid 2px rgb(188, 4, 4);
  color: black;
}

.buybtn:hover {
  background-color: #9e9b76;
  color: black;
}

input[type="number"] {
  all: unset;
  padding: 15px 10px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: inset 0 0 0 2px #0000001a;
  width: 45px;
}
