@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  max-width: 99vw;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 80vh;
  background-color: #fff;
}
.slideright {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.cart {
  display: flex;
}
.cart img {
  width: 30px;
  height: 30px;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.cart .count {
  margin: -8px 20px;
  position: absolute;
  background-color: #e45353;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInOut 3s ease-in-out forwards;
}

.notification.success {
  background-color: #4caf50; /* Green for success */
}

.notification.error {
  background-color: #f44336; /* Red for error */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination ul {
  list-style-type: none;
  padding: 0;
}

.pagination li {
  display: inline;
  margin: 0 5px;
}

.pagination li a {
  text-decoration: none;
  color: #007bff;
}

.pagination li.active a {
  font-weight: bold;
  text-decoration: underline;
}

.returninfo {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 0 50px 0 0;
}

.returnitemdiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: white;
  border: solid 1px #ddd;
  border-radius: 5px;
  min-width: 250px;
}

.panel-body {
  background-color: #e7e7e7;
}

.infos1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 350px;
}

.infos2 {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.infos2 h4 {
  color: #666;
}

.textheader {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 10px 0;
}

.textheader img {
  width: 20px;
  height: 20px;
}

.infos2 div {
  min-width: 100px;
}

.info p {
  font-size: 12px;
  color: #333;
}

.div1 {
  display: flex;
  justify-content: space-between;
}

.div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.div1 .text {
  color: #666;
  font-size: 11px;
  font-weight: 700;
}

p.text1 {
  font-weight: 700;
  font-size: 14px;
}

p.text2 {
  font-weight: 700;
  font-size: 12px;
  color: #666;
}

p.text3 {
  font-weight: 700;
  font-size: 12px;
  color: #666;
}

.div3 {
  display: flex;
  gap: 15px;
}

.info {
  padding: 0 10px 0 0;
}
.reportselected {
  background-color: #5e5b40 !important;
}
