.section {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.section h1 {
  font-size: 46px;
}
.container,
.customization-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
  align-items: start;
}

.cup-container {
  text-align: center;
  /* margin-top: 20px; */
  font-family: "Arial", sans-serif;
}
.virtual-cup {
  position: relative;
  width: 200px;
  height: 400px;
  margin: auto;
}

.virtual-cup img {
  width: 100%;
  height: auto;
  /* position: absolute; */
  z-index: 1;
}

.cup-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.cup-content .flavor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.cup-content .topping {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

.ingredient {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  animation: dropIn 0.5s ease-in-out;
}
.ingredient img {
  width: 210px;
  margin-left: -12px;
  margin-top: -110px;
  height: auto;
  border-radius: 5px;
  animation: pourIn 0.5s ease-in-out;
}
.ingredient-item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
}
.ingredients-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  height: 330px;
  overflow: auto;
}

.ingredient-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.ingredient-item button {
  background-color: #9e9b76;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
}
.ingredient-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.tab {
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}
.tab.active {
  background-color: #9e9b76;
  color: #fff;
}
.ingredient-btn,
#clear-btn,
.continue-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}
.ingredient-btn {
  background-color: #4caf50;
  color: white;
}
.ingredient-btn:hover {
  background-color: #45a049;
}
#clear-btn {
  background-color: #ff3b3b;
  color: white;
}
#clear-btn:hover {
  background-color: #e60000;
}
.continue-btn {
  margin-top: 20px;
  background-color: #ffe600;
  color: #000;
}
@keyframes pourIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes dropIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.total-price {
  font-size: 14px;
  font-weight: bold;
  /* margin-top: 20px; */
}
.ingredient-left {
  align-self: flex-start;
  margin-left: 50px;
}
.ingredient-right {
  align-self: flex-end;
  margin-right: 50px;
}
.base-item img {
  width: 60px;
}
.base-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
.base-item {
  display: flex;
  text-align: center;
  background-color: #fff;
  padding: 15px 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  flex-direction: column;
  justify-content: space-around;
}
.base-item img {
  /* width: 100%; */
  /* height: auto; */
  /* max-height: 150px; */
  /* object-fit: contain; */
  /* margin-bottom: 10px; */
  border-radius: 8px;
  aspect-ratio: 1/1;
}
.base-name {
  font-weight: bold;
  /* margin: 10px 0; */
  font-size: 12px;
  color: #333;
}
.base-price {
  color: #9e9b76;
  font-size: 12px;
  /* margin-bottom: 10px; */
}
.base-item button {
  background-color: #9e9b76;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  transition: background-color 0.2s ease;
}
.base-item button:hover {
  background-color: #bababa;
}
.base-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.base-item.selected {
  border: 2px solid #9e9b76;
  background-color: #f3e6ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.base-item.selected .select-base-btn {
  background-color: #bababa;
  color: #fff;
}
.base-item .select-base-btn:hover {
  background-color: #9e9b76;
}
.ingredient-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}
.ingredient-count {
  font-size: 16px;
  font-weight: bold;
  color: #9e9b76;
}
.increase-btn,
.decrease-btn {
  background-color: #9e9b76;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.increase-btn:hover,
.decrease-btn:hover {
  background-color: #bababa;
}
.virtual-cup > img {
  height: 450px;
}
.div-22 {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  /* flex-shrink: 0; */
  /* height: 89px; */
  /* position: relative; */
  margin-top: 10px;
}
.modal-confirm-order,
.modal-confirm-order * {
  box-sizing: border-box;
}
.label-size {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.div-size {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div-size-info {
  background: #ededed;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}
.div-size-info input[type="radio"] {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.div-size-info label {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
}
.div-size-info p {
  position: absolute;
  top: -9px;
  right: 0;
  background-color: #e45353;
  color: white;
  border-radius: 10px;
  padding: 3px;
  font-size: 10px;
}

.div-size-info {
  background: #ededed;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}

.div-size-info input[type="radio"] {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.div-size-info label {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
}

.div-size-info input[type="radio"]:checked + label {
  background-color: #a3a0a0;
  color: white;
}

.div-size-info label:hover {
  background-color: #f4f4f4;
}

.div-size-info input[type="radio"]:checked {
  background-color: #a3a0a0;
}
.ingredient-selector {
  text-align: center;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.virtual-cup > img {
  height: 350px;
  transition: height 0.3s ease-in-out;
}
.virtual-cup.selected-m > img {
  height: 400px;
}
.virtual-cup.selected-l > img {
  height: 500px;
}
.ingredient {
  animation: dropIn 0.5s ease-in-out;
  cursor: pointer;
}
@keyframes dropIn {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  5% {
    transform: translateY(0);
    opacity: 1;
  }
}
.ingredient-left {
  align-self: flex-start;
}
.ingredient-right {
  align-self: flex-end;
}
.ingredient-counter {
  font-size: 14px;
  color: #555;
  margin-left: 5px;
}
.indicator {
  font-size: 14px;
  font-weight: bold;
  /* margin-top: 10px; */
  text-align: center;
  color: #333;
}
.checkout-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  width: 300px;
  text-align: center;
}

.checkout-popup h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.checkout-popup p {
  margin-bottom: 10px;
}

.checkout-popup button {
  background-color: #6a00bf;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.checkout-popup button:hover {
  background-color: #5a00a0;
}

.checkout-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
button#checkout-btn {
  margin-top: 20px;
  background-color: #9e9b76;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.ingredient.flavor img {
  width: 160px;
  opacity: 0.5;
}
