.products {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.products h2 {
  font-size: 80px;
  color: #382208;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
  background: linear-gradient(90deg, #9e9b76, #382208);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.products h2::before,
.products h2::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  background-color: #9e9b76;
  top: 100%;
  transform: translateY(-50%);
  z-index: -1;
}

.products h2::before {
  left: 0;
}

.products h2::after {
  right: 0;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.product {
  background-color: #fff;
  border: 1px solid #9e9b76;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.product:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-container {
  background-color: #b8b394;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product h3 {
  font-size: 16px;
  margin: 8px 0;
  color: #382208;
  font-weight: bold;
}

.product .price {
  font-size: 14px;
  color: #9e9b76;
  margin-bottom: 10px;
}

.add-btn {
  background-color: #9e9b76;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-btn:hover {
  background-color: #382208;
}

.categories {
  text-align: center;
  margin-top: 50px;
  margin: 100px 70px 0;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.category-list a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 calc(5% - 1rem);
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s, background-color 0.3s;
}

.category-list a:hover {
  transform: scale(1.05);
  background-color: #f0f0f0;
}

.category-list a.active {
  border-color: #ece8bd;
  background-color: #ece8bd;
}

.category-img {
  max-width: 50px;
  height: auto;
  margin-bottom: 0.5rem;
}

.category-list h3 {
  margin: 0;
  font-size: 1rem;
  text-align: center;
}

.pagination {
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #9e9b76;
  border-radius: 5px;
}

.pagination a {
  padding: 8px 15px;
  background-color: #9e9b76;
  color: white;
  border-radius: 5px;
}

.pagination a:hover {
  background-color: #9e9b76;
}

.pagination a.active {
  cursor: not-allowed;
}

.pagination a:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
@media (max-width: 600px) {
  .pagination {
    font-size: 14px;
  }

  .pagination a {
    padding: 6px 12px;
  }
}
.pagination a {
  margin: 0 5px;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #403e30;
  color: white;
  border-color: #403e30;
}
.best-stamp {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ff5757;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 2;
}

.product {
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 20%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
.modal-content button:hover {
  background-color: #9e9b76;
  transform: scale(1.05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.modal-content button {
  background-color: #c9c9a6;
  color: white;
  padding: 12px 30px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.modal-content input[type="number"] {
  padding: 12px;
  margin: 10px 0 20px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  align-items: end;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
form#quantityForm {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

